@value variables: "../../styles/variables.css";
@value light-gray, text-color from variables;

.itemContainer {
  border-bottom: 1px solid light-gray;
  padding: 1rem 0.5rem;
}

.itemContainer {
  a {
    font-size: 0.8rem;
  }
}

.itemExcerpt {
  padding-top: 0.75rem;
  line-height: 1.1rem;
  color: text-color;
  font-size: 0.9rem;
}
